@font-face {
    font-family: 'William Subhead Pro Reg';
    src: url('WilliamSubheadPro-Reg.woff2') format('woff2'),
        url('WilliamSubheadPro-Reg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'William Subhead Pro Reg';
    src: url('WilliamSubheadPro-Reg.woff2') format('woff2'),
        url('WilliamSubheadPro-Reg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

